@model Task<List<ShipperDTO>>

@*<table class="table table-bordered">
    <thead>
        <tr>
            <th>Firma ID</th>
            <th>Firma Adı</th>
            <th>Telefon No</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ShipperID
                </td>
                <td>
                    @item.CompanyName
                </td>
                <td>
                    @item.Phone
                </td>
            </tr>
        }
    </tbody>
</table>*@